<!DOCTYPE html>
<html>
<head>
    <title>Reset Your Password</title>
</head>
<body>
    <p>Hello {{ user.get_username }},</p>
    <p>We received a request to reset your password for your account at {{ site_name }}.</p>
    <p>Click the link below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>
    <p>If you did not make this request, you can safely ignore this email.</p>
    <p>Thank you,</p>
    <p>The {{ site_name }} Team</p>
</body>
</html>
